<h2>Options</h2>
<div class="container col-4">
    <form class="form-group" [formGroup]="updateSongForm" (ngSubmit)="update()">

        <table class="table delete">
            <tr>
                <th>Id:</th>
                <td>{{musicId}}</td>
            </tr>
            <tr>
                <th>Name:</th>
                <td><input class="form-control" placeholder="Insert song name" formControlName="name" type="text"></td>
            </tr>
            <tr>
                <th>Date:</th>
                <td><input class="form-control" type="date" formControlName="date"></td>
            </tr>
        </table>

        <div class="option">
            <button class="btn" type="submit" [disabled]="!updateSongForm.valid">Update</button>
            <button class="btn" (click)="delete()">Delete</button>
            <button class="btn" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>