<h2>Login</h2>
<div class="container col-2">


    <form [formGroup]="loginForm" (ngSubmit)="checkLogin()">

        <label for="user">
            User:
            <input class="form-control" placeholder="Username" type="text" formControlName="username">
        </label>

        <label for="password">
            Password:
            <input class="form-control" placeholder="Password" type="text" formControlName="password">
          </label>

        <div class="option">
            <button class="btn" type="submit" [disabled]="!loginForm.valid">Login</button>
        </div>

    </form>

</div>