<h2>Create Artist</h2>
<div class="container col-2">


    <form [formGroup]="createArtistForm" (ngSubmit)="create()">

        <label for="name">
            Name:
            <input class="form-control" placeholder="Insert artist name" type="text" formControlName="name">
        </label>

        <label>
            Genre:
            <input class="form-control" placeholder="Insert music genre" type="text" formControlName="genre">
          </label>

        <div class="option">
            <button class="btn" type="submit" [disabled]="!createArtistForm.valid">Create</button>
            <button class="btn" (click)="cancel()">Cancel</button>
            <!-- <a routerLink='../'> <button class="btn">Cancel</button></a> -->
        </div>

    </form>

</div>