/* You can add global styles to this file, and also import other style files */


/* Application-wide Styles */


/* Tables  */

table {
    box-shadow: chartreuse 2px 2px 10px;
    justify-content: center;
}

.green-table>tbody>tr:hover td {
    background-image: linear-gradient(to bottom, rgb(29, 29, 29), rgb(39, 75, 0));
}

td>input {
    border: black !important;
}


/* navbar */

.navbar-collapse,
.navbar,
.navbar-dark,
.navbar-no-bg {
    background: rgb(0, 0, 0) !important;
}

.navbar {
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
}

.navbar-dark .navbar-nav {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
    outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-brand {
    width: 105px;
    border: 0;
    text-indent: -99999px;
}


/* Buttons */

#unic-button {
    display: flex;
    justify-content: center;
}

button {
    color: white !important;
    border-radius: 20px !important;
}

button:hover {
    box-shadow: chartreuse 0.5px 1px 10px;
}

.option {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


/* Titles */

h1 {
    text-align: center;
    color: chartreuse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2,
h3 {
    padding-bottom: 4%;
    text-align: center;
    color: rgb(60, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}


/* Text options */

a:hover {
    text-decoration: none !important;
}

a {
    color: rgb(6, 214, 34) !important;
    font-weight: bolder;
    background-color: transparent !important;
}

nav>li:hover a {
    color: white !important;
}

ul {
    list-style: none;
}


/* Everything else */

body,
input[type="text"],
button {
    color: white !important;
    font-family: Cambria, Georgia;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    background-color: rgb(29, 29, 29) !important;
    color: white;
}

.tabela {
    margin-top: 100px;
    justify-self: center;
    justify-content: center;
}

input {
    color: white !important;
}

input::placeholder {
    color: rgba(0, 255, 64, 0.664) !important;
}


/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none !important;
    -webkit-appearance: none !important;
} */